
.svgCard {
  width: 118px;
}


..svgTest {
  width: 30px;
}
.rowcards {
  margin-left: 3%;
  margin-right: 3%;
  width: 93%;
  clear: both;
  margin-top: 0px;
  box-sizing: border-box;
}

.rowc {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0px;
  width: 95%;
  clear: both; 
}


#noflow {
width: 1%;
max-height: auto;
overflow: auto;
float: left;
}
.cards {
/*display: inline-block;
border-style: solid;
border-color: blue;
border-width: thin;

height:330px;
width:208px;
padding: 5px;
margin-top: 5px;
max-width: 100px;
*/

    box-sizing: border-box;
max-height: auto;
overflow: auto;
padding: 3px;
}


.colc {
  width: 19.5%;
  float:left;

  box-sizing: border-box;
}


.keyselect {
font-size: 0.8em;
text-align: center;
}

.colstat {
  width: 15%;
  float: left;
  }

.colstat-besthand {
  width: 30%;
  float: left;
  }

.colstat-wager {
  width: 15%;
  float: left;
  }

.colstat-payout {
  width: 10%;
  float: left;
  }

.colstat-money {
width: 15%;	
    float: left;
}
.colstat-rightmargin {
width: 25%;
float:left;
}

#wager {
width: 30%;
text-align: center;
font-size: 1.3em;
float: left;
}

#wagerup {

width:35%;
text-align: center;
float:left;
font-size: 1.3em;
font-weight:bold;
text-transform:uppercase;
color:white;
background-color:#4b8f29;
border:0 none;
border-radius: 5px;
text-shadow:0 -1px 0 #000;
  text-align: center;
box-shadow:0 1px 0 #666,0 5px 0 #444,0 6px 6px rgba(0,0,0,0.6);
cursor:pointer;
}

#wagerdown {
width:35%;
text-align: center;
float:left;
font-size: 1.3em;
font-weight:bold;
text-transform:uppercase;
color:white;
background-color:#4b8f29;
border:0 none;
border-radius: 5px;
text-shadow:0 -1px 0 #000;
  text-align: center;
box-shadow:0 1px 0 #666,0 5px 0 #444,0 6px 6px rgba(0,0,0,0.6);
cursor:pointer;
}

#cashmoney {
float:left;
color: black;
font-size: 1.78em;
text-align: center;

}
#slider {
  width:25%;
  clear: both;
  float: left;
  margin-left: 27%;
  display: none;
}


#dealbutton {
background-color: Green;
width: 12.5%;
}


#redealbutton {
color: white;
background-color: SlateGray;
width: 12.5%;
}

  
.row{
}

.r2 {
text-align: center;
line-height: 1.1;
}



.r3 {
text-align: center;
font-size: 1.0em;
}



.cards img {
display:block;
width: 95%;
height: 95%;
margin-left: auto;
margin-right: auto;
}



.holding {
overflow: auto;
padding: 0px;
border-width: 4px;
border-style: solid;
border-color: blue;
border-radius: 10px;

}

.rebet {

}

.r3tabs {
text-align: center;
}

.r3 {
text-align: center;
}


#besthand {
text-align: center;
color: #3A59FE;
font-size: 1.3em; 
font-weight: bold;
padding:2px;

}




#payout{
text-align: center;
font-size: 1.5em;
padding:2px;
}

.discards {

}



.divbuttons {
float:left;
font-size: 1.5em;
font-weight:bold;
text-transform:uppercase;
color:white;
background-color:#4b8f29;
border:0 none;
border-radius: 5px;
text-shadow:0 -1px 0 #000;
  text-align: center;
box-shadow:0 1px 0 #666,0 5px 0 #444,0 6px 6px rgba(0,0,0,0.6);
cursor:pointer;
}

.buttons {
}


table {
margin: auto;

margin-top:-7px;
margin-bottom:0px;
border-style: solid;
border-width: 0px;
border-radius: 15px;
border-color: #DC0C18;
border-bottom-width: 1px;
border-bottom-color: black;
}



#payouttabletabs {
background-color: #DC0C18;
color: white;
}

#payouttable {

width:60%;
font-size: 0.7em;
line-height: 0.8em;
padding: 1px;
}
/*089DE3 3A59FE*/

.even {
background-color: #eee;
padding: 1px;
}


.payouthighlight {
background-color: #3A59FE;
padding: 0px;
border-radius:10px;
color: white;
}

input[type=range].wagersliderblue {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.25px 0;
}
input[type=range].wagersliderblue:focus {
  outline: none;
}
input[type=range].wagersliderblue::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #5d9ee1;
  border-radius: 4.1px;
  border: 0.4px solid #c30142;
}
input[type=range].wagersliderblue::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 33px;
  width: 10px;
  border-radius: 17px;
  background: #3f9248;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.65px;
}
input[type=range].wagersliderblue:focus::-webkit-slider-runnable-track {
  background: #88b8e9;
}
input[type=range].wagersliderblue::-moz-range-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #5d9ee1;
  border-radius: 4.1px;
  border: 0.4px solid #c30142;
}
input[type=range].wagersliderblue::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 33px;
  width: 10px;
  border-radius: 17px;
  background: #3f9248;
  cursor: pointer;
}
input[type=range].wagersliderblue::-ms-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].wagersliderblue::-ms-fill-lower {
  background: #3284d9;
  border: 0.4px solid #c30142;
  border-radius: 8.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].wagersliderblue::-ms-fill-upper {
  background: #5d9ee1;
  border: 0.4px solid #c30142;
  border-radius: 8.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].wagersliderblue::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 33px;
  width: 10px;
  border-radius: 17px;
  background: #3f9248;
  cursor: pointer;
  height: 6.5px;
}
input[type=range].wagersliderblue:focus::-ms-fill-lower {
  background: #5d9ee1;
}
input[type=range].wagersliderblue:focus::-ms-fill-upper {
  background: #88b8e9;
}